@import animationsKeyframes
*
    margin: 0
    padding: 0
body
    background: #323232
.containerMain
    width: 80%
    height: 2000px
    backdrop-filter: blur(25px)
    margin: 30px auto
    border: solid 2px #F4E5C2
    border-radius: 24px
    display: flex
    flex-direction: column
    .headContainer
        width: 100%
        height: auto
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        gap: 16px
        .text
            text-align: center
            h2
                margin: 100px auto
                font-family: 'Bebas Neue', sans-serif
                font-size: 4rem
                font-weight: 700
                color: #F4E5C2
                .wordRed
                    color: #6DB193
                    font-style: normal
            button
                margin: 0 auto
                padding: 16px 32px
                background: transparent
                border-radius: 10px
                border: 2px solid #F4E5C2
                color: #F4E5C2
            button:hover
                background: #6DB193
                color: black
                border:2px solid #6DB193
        .img
            svg
                width: 100%
                margin-top: 40px
    .sobreMiContainer
        width: 100%
        height: 600px
        margin-top: 200px
        // background: #fff
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr
        .miPersona
            // background: red
            margin: 16px
            .perfilImg
                width: 100%
                height: 100%
                background-image: url(../img/perfilDiego.jpg)
                background-size: cover
                border: 2px solid #F4E5C2
                border-radius: 20px
        .miTrabajo
            backdrop-filter: blur(25px)
            background: rgba(255, 255, 255, .2)
            border-radius: 20px
            border: 2px solid #F4E5C2
            margin: 16px
            padding: 16px
            .texto
                width: 100%
                height: 40%
                h2
                    font-family: 'Lato', sans-serif
                    font-weight: 700
                    font-size: 1.5rem
                    text-align: center
                    margin-bottom: 10px
                p
                    font-family: sans-serif
            .tecnologias
                width: 100%
                height: 60%
                display: grid
                grid-template-columns: 1fr 1fr 1fr
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
                h3
                    font-family: 'Lato'
                .tecnologiaContenedor
                    width: 60%
                    border: 2px solid #F4E5C2
                    border-radius: 10px
                    margin: 4px auto
                    display: flex
                    align-items: center
                    justify-content: center
                    background: rgb(255, 255, 255, .2)
                    p
                        font-family: sans-serif
                .tecnologiaContenedor:hover
                    border: 2px solid #6DB193
                    background: #6DB193
                .tecFe
                    grid-column: 1/5
                    grid-row: 1/2
                    text-align: center
                .p1
                    grid-column: 1/2
                    grid-row: 2/3
                .p2
                    grid-column: 2/3
                    grid-row: 2/3
                .p3
                    grid-column: 3/5
                    grid-row: 2/3
                .p4
                    grid-column: 1/2
                    grid-row: 3/4
                .p5
                    grid-column: 2/3
                    grid-row: 3/4
                .p6
                    grid-column: 3/5
                    grid-row: 3/4
                .p7
                    grid-column: 1/2
                    grid-row: 4/5
                .p8
                    grid-column: 2/3
                    grid-row: 4/5
                .p9
                    grid-column: 3/5
                    grid-row: 4/5
                .tecBe
                    grid-column: 5/-5
                    grid-row: 5/6
                    text-align: center
                    margin-top: 10px
                .p01
                    grid-column: -4/-3
                    grid-row: 6/7
                .p02
                    grid-column: 2/3
                    grid-row: 6/7
                .p03
                    grid-column: 3/5
                    grid-row: 6/7
                .p04
                    grid-column: -3/-4
                    grid-row: 7/8
                .p05
                    grid-column: 2/3
                    grid-row: 7/8
                .p06
                    grid-column: 3/5
                    grid-row: 7/8
                .p07
                    grid-column: 2/-4
                    grid-row: 8/9
                .p08
                    grid-column: 2/3
                    grid-row: 8/9
                .p09
                    grid-column: 3/5
                    grid-row: 8/9
    .proyectosContainer
        width: auto
        height: 600px
        margin-top: 50px
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 1fr 1fr
        gap: 32px
        padding: 32px
        .proyectoContenedor
            width: 100%
            background: rgba(136, 136, 136, 0.258)
            backdrop-filter: blur(25px)
            border-radius: 20px
            display: grid
            grid-template-columns: 1fr 1fr
            grid-template-rows: 1fr 1fr
            gap: 8px
            padding: 8px
        .proyecto1
            .imgUp
                grid-columns: 1/2
                grid-row: 1/2
                background: #fff
                border-radius: 10px
            .imgDown
                grid-column: 2/3
                grid-row: -2/-1
                background: #fff
                border-radius: 10px
            .tecnologiasUp
                grid-column: 2/3
                grid-row: -3/-2
                background: rgba(134, 134, 134, 0.4)
                border-radius: 10px
            .tecnologiasDown
                grid-column: 2/-3
                grid-row: 2/3
                background: rgba(134, 134, 134, 0.4)
                border-radius: 10px
            .imgUp,
            .imgDown
                display: flex
                align-items: center
                justify-content: center
                a
                    display: none
                    text-decoration: none
                    font-family: 'Nunito Sans'
            .imgUp:hover,
            .imgDown:hover
                a
                    display: inline
                background: #6DB193
                display: flex

.circlesContainer
    width: 100%
    height: 100vh
    position: absolute
    .circle0
        width: 84px
        height: 84px
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        border-radius: 50%
        margin-left: 6%
    .circleh2
        width: 120px
        height: 130px
        border-radius: 50%
        position: absolute
    .circle1
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        left: 18%
        bottom: 68%
        animation-name: animationCircle1
        animation-duration: 2s
        animation-direction: alternate
        animation-iteration-count: infinite
    .circle2
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        left: 30%
        bottom: 50%
        animation-name: animationCircle2
        animation-duration: 2s
        animation-direction: alternate
        animation-iteration-count: infinite
    .circle3
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        left: 18%
        bottom: 54%
        animation-name: animationCircle3
        animation-duration: 2s
        animation-direction: alternate
        animation-iteration-count: infinite
    .circle4
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        left: 30%
        bottom: 65%
        animation-name: animationCircle4
        animation-duration: 2s
        animation-direction: alternate
        animation-iteration-count: infinite
    .circleBold
        width: 360px
        height: 360px
        background: rgb(173,149,190)
        background: linear-gradient(0deg, rgba(173,149,190,1) 0%, rgba(133,89,165,1) 29%, rgba(87,78,98,1) 79%)
        border-radius: 50%
        position: absolute
        left: 65%
        bottom: 45%
        animation-name: animationCircleBold
        animation-duration: 3s
        animation-direction: alternate
        animation-iteration-count: infinite
