@keyframes animationCircle1 {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  100% {
    transform: translateY(-60%) translateX(-55%);
  }
}
@keyframes animationCircle2 {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  100% {
    transform: translateY(70%) translateX(70%);
  }
}
@keyframes animationCircle3 {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  100% {
    transform: translateY(70%) translateX(-70%);
  }
}
@keyframes animationCircle4 {
  0% {
    transform: translateX(0%) scale(1.5);
  }
  100% {
    transform: translateY(-70%) translateX(70%);
  }
}
@keyframes animationCircleBold {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: scale(1.2);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #323232;
}

.containerMain {
  width: 80%;
  height: 2000px;
  backdrop-filter: blur(25px);
  margin: 30px auto;
  border: solid 2px #F4E5C2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}
.containerMain .headContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
}
.containerMain .headContainer .text {
  text-align: center;
}
.containerMain .headContainer .text h2 {
  margin: 100px auto;
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #F4E5C2;
}
.containerMain .headContainer .text h2 .wordRed {
  color: #6DB193;
  font-style: normal;
}
.containerMain .headContainer .text button {
  margin: 0 auto;
  padding: 16px 32px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #F4E5C2;
  color: #F4E5C2;
}
.containerMain .headContainer .text button:hover {
  background: #6DB193;
  color: black;
  border: 2px solid #6DB193;
}
.containerMain .headContainer .img svg {
  width: 100%;
  margin-top: 40px;
}
.containerMain .sobreMiContainer {
  width: 100%;
  height: 600px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.containerMain .sobreMiContainer .miPersona {
  margin: 16px;
}
.containerMain .sobreMiContainer .miPersona .perfilImg {
  width: 100%;
  height: 100%;
  background-image: url(../img/perfilDiego.jpg);
  background-size: cover;
  border: 2px solid #F4E5C2;
  border-radius: 20px;
}
.containerMain .sobreMiContainer .miTrabajo {
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 2px solid #F4E5C2;
  margin: 16px;
  padding: 16px;
}
.containerMain .sobreMiContainer .miTrabajo .texto {
  width: 100%;
  height: 40%;
}
.containerMain .sobreMiContainer .miTrabajo .texto h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}
.containerMain .sobreMiContainer .miTrabajo .texto p {
  font-family: sans-serif;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias h3 {
  font-family: "Lato";
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .tecnologiaContenedor {
  width: 60%;
  border: 2px solid #F4E5C2;
  border-radius: 10px;
  margin: 4px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .tecnologiaContenedor p {
  font-family: sans-serif;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .tecnologiaContenedor:hover {
  border: 2px solid #6DB193;
  background: #6DB193;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .tecFe {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p1 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p3 {
  grid-column: 3/5;
  grid-row: 2/3;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p4 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p5 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p6 {
  grid-column: 3/5;
  grid-row: 3/4;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p7 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p8 {
  grid-column: 2/3;
  grid-row: 4/5;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p9 {
  grid-column: 3/5;
  grid-row: 4/5;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .tecBe {
  grid-column: 5/-5;
  grid-row: 5/6;
  text-align: center;
  margin-top: 10px;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p01 {
  grid-column: -4/-3;
  grid-row: 6/7;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p02 {
  grid-column: 2/3;
  grid-row: 6/7;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p03 {
  grid-column: 3/5;
  grid-row: 6/7;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p04 {
  grid-column: -3/-4;
  grid-row: 7/8;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p05 {
  grid-column: 2/3;
  grid-row: 7/8;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p06 {
  grid-column: 3/5;
  grid-row: 7/8;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p07 {
  grid-column: 2/-4;
  grid-row: 8/9;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p08 {
  grid-column: 2/3;
  grid-row: 8/9;
}
.containerMain .sobreMiContainer .miTrabajo .tecnologias .p09 {
  grid-column: 3/5;
  grid-row: 8/9;
}
.containerMain .proyectosContainer {
  width: auto;
  height: 600px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
  padding: 32px;
}
.containerMain .proyectosContainer .proyectoContenedor {
  width: 100%;
  background: rgba(136, 136, 136, 0.258);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  padding: 8px;
}
.containerMain .proyectosContainer .proyecto1 .imgUp {
  grid-columns: 1/2;
  grid-row: 1/2;
  background: #fff;
  border-radius: 10px;
}
.containerMain .proyectosContainer .proyecto1 .imgDown {
  grid-column: 2/3;
  grid-row: -2/-1;
  background: #fff;
  border-radius: 10px;
}
.containerMain .proyectosContainer .proyecto1 .tecnologiasUp {
  grid-column: 2/3;
  grid-row: -3/-2;
  background: rgba(134, 134, 134, 0.4);
  border-radius: 10px;
}
.containerMain .proyectosContainer .proyecto1 .tecnologiasDown {
  grid-column: 2/-3;
  grid-row: 2/3;
  background: rgba(134, 134, 134, 0.4);
  border-radius: 10px;
}
.containerMain .proyectosContainer .proyecto1 .imgUp,
.containerMain .proyectosContainer .proyecto1 .imgDown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerMain .proyectosContainer .proyecto1 .imgUp a,
.containerMain .proyectosContainer .proyecto1 .imgDown a {
  display: none;
  text-decoration: none;
  font-family: "Nunito Sans";
}
.containerMain .proyectosContainer .proyecto1 .imgUp:hover,
.containerMain .proyectosContainer .proyecto1 .imgDown:hover {
  background: #6DB193;
  display: flex;
}
.containerMain .proyectosContainer .proyecto1 .imgUp:hover a,
.containerMain .proyectosContainer .proyecto1 .imgDown:hover a {
  display: inline;
}

.circlesContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
}
.circlesContainer .circle0 {
  width: 84px;
  height: 84px;
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  border-radius: 50%;
  margin-left: 6%;
}
.circlesContainer .circleh2 {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
}
.circlesContainer .circle1 {
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  left: 18%;
  bottom: 68%;
  animation-name: animationCircle1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circlesContainer .circle2 {
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  left: 30%;
  bottom: 50%;
  animation-name: animationCircle2;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circlesContainer .circle3 {
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  left: 18%;
  bottom: 54%;
  animation-name: animationCircle3;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circlesContainer .circle4 {
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  left: 30%;
  bottom: 65%;
  animation-name: animationCircle4;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.circlesContainer .circleBold {
  width: 360px;
  height: 360px;
  background: rgb(173, 149, 190);
  background: linear-gradient(0deg, rgb(173, 149, 190) 0%, rgb(133, 89, 165) 29%, rgb(87, 78, 98) 79%);
  border-radius: 50%;
  position: absolute;
  left: 65%;
  bottom: 45%;
  animation-name: animationCircleBold;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}/*# sourceMappingURL=main.css.map */